.main {
  padding: 3.5rem 6rem;
}

.confirmEmail {
  display: flex;
  align-items: center;
}

.confirmEmailH1 {
  font-size: 2.5rem;
  font-weight: 800;
  margin-right: 1.5rem;
}

.confirmEmailImg {
  width: 4rem;
  height: 4rem;
}

.confirmEmailDetails {
  margin-top: 10rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.confirmEmailP {
  font-size: 1.5rem;
  font-weight: 500;
}

.confirmEmailP:first-of-type {
  margin-bottom: 1rem;
  font-size: 1.8rem;
}

.confirmEmailP:last-of-type {
  font-size: 1.2rem;
  margin-top: 1rem;
}

.confirmEmailAddress {
  font-weight: 900;
}

.button {
  width: 14rem;
}
