.quizItems {
  margin-top: 3rem;
  display: flex;
  flex-wrap: nowrap;
  padding-left: 6rem;
  overflow: hidden;
  height: 22rem;
  position: relative;
  overflow-x: scroll;
}

.quizItems::-webkit-scrollbar {
  height: 0.8rem;
  margin-top: 3rem;
}

.quizItems::-webkit-scrollbar-thumb {
  --tw-bg-opacity: 1;
  background-color: var(--color-grey-2);
  border-radius: 20px;
}

.svgArrowContainer {
  display: flex;
  margin-left: auto;
  justify-content: flex-end;
  margin-top: 1.5rem;
  margin-right: 6rem;
}

.svgArrow {
  width: 2rem;
  height: 2rem;
  fill: var(--color-grey-1);
}

.svgArrow1 {
  background-color: var(--color-grey-2);
  padding: 0.6rem 0.6rem 0.6rem 1.4rem;
}

.svgArrow2 {
  background-color: var(--color-grey-2);
  padding: 0.6rem 1.1rem 0.6rem 1rem;
}

.noQuizItems {
  position: absolute;
  right: 4rem;
  top: 3.5rem;
  cursor: default;
}

.noQuizItemsImg {
  height: 12rem;
  width: 14rem;
  animation: arrowScaling 1s ease-out infinite;
}

.noQuizItemsImg:hover + .noQuizItemsCaption {
  opacity: 1;
}

@keyframes arrowScaling {
  0% {
    transform: scale(0.8);
  }

  50% {
    transform: scale(1);
  }

  100% {
    transform: scale(1.2);
  }
}

.noQuizItemsCaption {
  padding: 1rem 1.5rem;
  font-size: 1.3rem;
  font-weight: 700;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -1px rgba(0, 0, 0, 0.06);
  border-radius: 0.5rem;
  position: absolute;
  right: 12rem;
  top: 6.5rem;
  width: 11rem;
  opacity: 0;
  transition: opacity 0.4s ease-in-out;
}

.errorContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.errorP {
  font-size: 1.8rem;
}
