.main {
  padding: 3.5rem 6rem;
}

.mainQuiz {
  width: 60rem;
  margin: 0 auto;
  /* position: absolute;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
  padding: 1.5rem;
  margin-top: 6rem; */
}

.quizQuestionCount {
  font-size: 1.2rem;
  margin-bottom: 1.3rem;
  text-align: center;
}

.quizQuestion {
  font-size: 2rem;
  background: -webkit-linear-gradient(var(--color-blue-1), var(--color-blue-4));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-bottom: 2rem;
  text-align: center;
}

.quizAnswerItem {
  padding: 1rem;
  background-color: var(--color-grey-2);
  border-radius: 0.5rem;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.quizAnswerItem:not(:last-of-type) {
  margin-bottom: 1rem;
}

/* Customize the label (the container) */
.quizAnswerLabel {
  text-align: justify;
  display: flex;
  position: relative;
  padding-left: 3.5rem;
  cursor: pointer;
  font-size: 1.3rem;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
/* Hide the browser's default radio button */
.quizAnswerLabel input {
  position: absolute;
  opacity: 0;
  /* cursor: pointer; */
  height: 0;
  width: 0;
}
/* Create a custom radio button */
.quizAnswerCheckmark {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  height: 2.5rem;
  width: 2.5rem;
  background-color: #eee;
  border-radius: 50%;
  border: 1px solid var(--color-blue-4);
  /* margin-right: 2rem; */
}
/* On mouse-over, add a grey background color */
.quizAnswerLabel:hover input ~ .quizAnswerCheckmark {
  background-color: #ccc;
}
/* When the radio button is checked, add a blue background */
.quizAnswerLabel input:checked ~ .quizAnswerCheckmark {
  background-color: #2196f3;
}
/* Create the indicator (the dot/circle - hidden when not checked) */
.quizAnswerCheckmark:after {
  content: "";
  position: absolute;
  display: none;
}
/* Show the indicator (dot/circle) when checked */
.quizAnswerLabel input:checked ~ .quizAnswerCheckmark:after {
  display: block;
}
/* Style the indicator (dot/circle) */
.quizAnswerLabel .quizAnswerCheckmark:after {
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 50%;
  background: white;
}

.quizButtonContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
}

.svgQuestionChange {
  width: 1.2rem;
  height: 1.2rem;
  fill: white;
  margin-left: 1.2rem;
}

.button {
  display: flex;
  align-items: center;
  font-weight: 600;
  padding: 1.3rem 1.7rem;
  width: auto;
}

.button:hover {
  background: var(--color-blue-1);
}

.button:last-of-type {
  margin-left: 2rem;
}
