.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 10;
  background-color: white;
  opacity: 0.8;
  cursor: pointer;
  transition: opacity 0.2s ease-in-out;
  z-index: 5000;
  background-color: hsla(210, 56%, 88%, 1);
  background-image: radial-gradient(
      at 87% 69%,
      hsla(151, 0%, 100%, 1) 0px,
      transparent 50%
    ),
    radial-gradient(at 87% 61%, hsla(219, 34%, 97%, 1) 0px, transparent 50%);
}

.modal {
  background-color: white;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -1px rgba(0, 0, 0, 0.06);
  position: fixed;
  z-index: 100;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
  padding: 1.5rem 2.5rem;
  min-width: 35rem;
  width: 40rem;
  transition: opacity 0.2s ease-in-out;
  z-index: 7000;
  background-color: rgb(246, 248, 250);
  background-image: radial-gradient(
      at 100% 100%,
      rgb(245, 243, 243) 0px,
      transparent 10%
    ),
    radial-gradient(at 99% 20%, rgb(232, 236, 241) 0px, transparent 100%);
}

.h1 {
  font-size: 2.5rem;
  font-weight: 800;
  background: -webkit-linear-gradient(var(--color-blue-1), var(--color-blue-4));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
