.authControl {
  display: flex;
  margin: 2.5rem 0;
}

.authControl0 {
  padding: 0.9rem;
  font-size: 1.3rem;
  font-weight: 700;
  width: 50%;
  text-align: center;
  background-color: white;
  transition: all 0.2s ease-in-out;
}

.authControl0:focus,
.authControl0:hover {
  outline: none;
  background-color: var(--color-grey-2);
}

.authControl1 {
  border-top-left-radius: 1rem;
  border-bottom-left-radius: 1rem;
}

.authControl2 {
  border-top-right-radius: 1rem;
  border-bottom-right-radius: 1rem;
}
