.authControl {
  display: flex;
  margin: 2.5rem 0;
}

.authControl1 {
  padding: 0.9rem;
  font-size: 1.25rem;
  font-weight: 700;
  width: 50%;
  border: 0.1px solid var(--color-blue-4);
  border-top-left-radius: 1rem;
  border-bottom-left-radius: 1rem;
  text-align: center;
}

.authControl2 {
  padding: 0.9rem;
  font-size: 1.25rem;
  font-weight: 700;
  width: 50%;
  border: 0.1px solid var(--color-grey-1);
  border-top-right-radius: 1rem;
  border-bottom-right-radius: 1rem;
  text-align: center;
}
