/* flex justify-start items-center py-3 px-4 hover:bg-neutral-200 min-h-5r */
.searchLink {
  display: flex;
  align-items: center;
  padding: 1rem;
  cursor: pointer;
}

.searchLink:hover {
  background-color: var(--color-grey-2);
}

.searchImg {
  width: 5rem;
  height: 5rem;
}

.h1 {
  font-size: 1.5rem;
}

.p {
  font-size: 1.3rem;
}

.span {
  margin-left: 2rem;
}

/* .flex:hover {
  min-height: 4rem;
} */

/* w-20 h-14 mr-4 vsm:mr-2 */

/* w-full h-full object-cover rounded-t-md rounded-b-md shadow-md */
