.main {
  padding: 3.5rem 6rem;
}

.profileHeading {
  display: flex;
  align-items: center;
  margin-bottom: 3rem;
}

.profileHeading h1 {
  font-size: 2.5rem;
  font-weight: 700;
}

.profileHeadingImg {
  width: 5.3rem;
  height: 5.3rem;
  margin-right: 2rem;
}

.profileP {
  font-size: 1.5rem;
  font-weight: 600;
  color: var(--color-grey-1);
}

.profileTabContainer {
  display: flex;
  gap: 4rem;
}

.aboutQuizTimeContainer {
  padding: 2rem 0;
}

.aboutQuizTimeInsert {
  display: flex;
  align-items: center;
  justify-content: center;
}

.aboutQuizTimeInsertInputCont {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.aboutQuizTimeInsertInputCont span {
  margin-top: 0.5rem;
  font-weight: 600;
  font-size: 1.3rem;
}

.aboutQuizTimeInsertInputCont input {
  height: 7rem;
  width: 8rem;
  border: 0.15rem solid var(--color-grey-2);
  border-radius: 0.5rem;
  transition: all 0.2s ease-in-out;
  font-size: 5rem;
  text-align: center;
  outline: none;
}

.aboutQuizTimeInsertInputCont input:active,
.aboutQuizTimeInsertInputCont input:focus {
  border: 0.2rem solid var(--color-grey-1);
}

.aboutQuizTimeInsertInputCont input:first-of-type {
  margin-right: 1rem;
}

.aboutQuizTimeInsertInputCont input:last-of-type {
  margin-left: 1rem;
}

.modalActions {
  display: flex;
  justify-content: flex-end;
}

.modalActions button {
  width: 16rem;
}

.profilePictureContainer {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.profilePictureContainer img {
  height: 12rem;
  width: 12rem;
}

.profilePictureContainer p:first-of-type {
  font-size: 1.8rem;
  text-transform: uppercase;
  color: black;
}

.profilePictureContainer p {
  font-size: 1.5rem;
  color: var(--color-grey-1);
  font-weight: 500;
}
.container {
  display: flex;
  align-items: flex-start;
  gap: 6rem;
}

.avatarImg {
  width: 10rem;
  height: 10rem;
  cursor: pointer;
}

.avatarImg:not(:last-of-type) {
  margin-right: 2rem;
}

.avatarImgActive {
  border: 0.3rem solid var(--color-grey-1);
  border-radius: 1rem;
}

.avatarP {
  font-size: 1.3rem;
  margin-bottom: 1rem;
  font-weight: 700;
}

.avatarChooseContainer {
  display: grid;
  gap: 2rem;
  grid-template-columns: repeat(2, min-content);
  grid-row: repeat(2, min-content);
}

.deleteH1 {
  font-size: 3.3rem;
  text-align: center;
}

.deleteP {
  font-size: 1.4rem;
  color: var(--color-grey-1);
}
