.main {
  display: flex;
  align-items: center;
  padding: 3.5rem 6rem;
}

.main2 {
  padding: 3.5rem 6rem;
}

.h1 {
  font-size: 2.5rem;
  font-weight: 800;
}

.controlGroupContainer {
  margin-right: auto;
}

.controlGroup {
  display: flex;
  align-items: center;
  margin-left: 3rem;
  background-color: var(--color-grey-2);
  padding: 0.5rem;
  border-radius: 0.5rem;
  border: 0.1rem solid var(--color-grey-2);
  width: 40rem;
  margin-right: auto;
  transition: all 0.2s ease-in-out;
}

.controlGroup:has(.searchInput:focus, .searchInput:active) {
  border: 0.2rem solid var(--color-grey-1);
}

.controlGroup:active,
.controlGroup:focus {
  border: 0.2rem solid var(--color-grey-1);
}

.searchInput {
  border: none;
  padding: 0.5rem 0;
  outline: none;
  background-color: var(--color-grey-2);
  margin-left: 1rem;
  width: 100%;
}

.svgSearch {
  width: 2rem;
  height: 2rem;
  fill: var(--color-grey-1);
}

.svgClear {
  width: 2rem;
  height: 2rem;
  fill: var(--color-grey-1);
  cursor: pointer;
}

.svgAddContainer {
  padding: 0.5rem;
  border-radius: 100%;
  display: flex;
  align-items: center;
  background-image: linear-gradient(
    to right,
    var(--color-blue-1),
    var(--color-blue-4)
  );
}

.svgAdd {
  width: 2.5rem;
  height: 2.5rem;
  fill: white;
}

.addButtonSection {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.addButton {
  font-size: 1.4rem;
  font-weight: 800;
  background: -webkit-linear-gradient(var(--color-blue-1), var(--color-blue-4));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-left: 1rem;
}

.modalH2Text {
  font-size: 2rem;
  font-weight: 800;
  padding: 1rem 0rem;
  border-bottom: 0.2rem solid var(--color-grey-1);
}

.modalTextP {
  font-size: 1.2rem;
  margin-top: 0.5rem;
  font-weight: 500;
}

.modalTextLinkDownload {
  background: -webkit-linear-gradient(var(--color-blue-1), var(--color-blue-4));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 800;
}

.modalTextSpan {
  font-weight: 800;
}
