input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  -webkit-box-shadow: 0 0 0px 1000px var(--color-grey-2) inset !important;
}

.inputCont {
  display: flex;
  align-items: center;
  width: 100%;
  background-color: var(--color-grey-2);
  border: 0.1rem solid var(--color-grey-2);
  border-radius: 0.5rem;
  overflow: hidden;
  transition: all 0.2s ease-in-out;
}

.displayButton {
  margin-right: 1rem;
  cursor: pointer;
  font-weight: 500;
  font-size: 1.1rem;
}

.inputControl:not(:last-of-type) {
  margin-bottom: 1rem;
}

.label {
  display: block;
  margin-bottom: 1rem;
  font-weight: 700;
  font-size: 1.3rem;
}

.labelRequired {
  color: var(--color-blue-1);
  margin-left: 0.3rem;
}

.input {
  width: 100%;
  padding: 1.2rem;
  border: 0.1rem solid var(--color-grey-2);
  outline: none;
  background-color: var(--color-grey-2);
  border-radius: 0.5rem;
  transition: all 0.2s ease-in-out;
}

.inputEdit {
  width: 100%;
  padding: 1.2rem;
  outline: none;
  border: none;
  background-color: var(--color-grey-2);
  transition: all 0.2s ease-in-out;
}

.inputCont:has(.inputEdit:focus, .inputEdit:active) {
  border: 0.2rem solid var(--color-grey-1);
}

.inputEdit:focus,
.inputEdit:active {
  border: none;
}

.input:focus,
.input:active {
  border: 0.2rem solid var(--color-grey-1);
}

.inputDetail {
  font-size: 1.1rem;
  margin-top: -0.5rem;
  margin-bottom: 0.5rem;
  width: 100%;
  font-weight: 500;
}

.inputErrorContainer {
  display: flex;
  align-items: center;
}

.inputErrorValue {
  font-size: 1.1rem;
  color: var(--color-red-1);
}

.inputErrorSvg {
  width: 1.5rem;
  height: 1.5rem;
  margin-right: 0.25rem;
  fill: var(--color-red-1);
  margin-top: 0.35rem;
}

.inputBorderErrorChange {
  border: 0.2rem solid var(--color-red-1) !important;
}

.svgDisplayPassword {
  margin-top: 0.45rem;
  width: 1.5rem;
  height: 1.5rem;
  fill: var(--color-grey-1);
}
